



<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}} 
        <p>use this site to get weather</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>

        </form>


        {{>foother}}
        <script src="./js/app.js"></script>
    </body>




</html>


















